/* global */

body {
  display: flex;
}

.col-5ths {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  display: inline-block;
}

.indicator {
  display: inline-block;
  color: white;
  font-family: Asap, Helvetica, "Comic Sans MS", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 200px;
  border-radius: 45px;
}

.emojis {
  display: block;
  width: 50%;
  max-width: 100px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* colors */

.angry {
  background-color: red;
}

.concerned {
  background-color: #00c7d9;
}

.content {
  background-color: #99de7e;
}

.unimpressed {
  background-color: #a2a2a2;
}

.inlove {
  background-color: yellow;
}

/* sizes */

.total {
  height: 800px;
}